<!DOCTYPE html>
<html>
<head>
    {% block title %}{% endblock %}
    {% include "headTemplate.html" %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href='static/css/theme.css'>
</head>
<body>
{% include "navBar.html" %}
<div class="container theme-showcase" role="main">
    {% block content %}{% endblock %}
</div>


<footer class="footer">
    <div class="container">
        <p class="text-muted">
            {{ gettext('contact e-mail') }}
            <a href="mailto:corpus.by@gmail.com">corpus.by@gmail.com</a>.<br/>
            {{ gettext('other prototypes') }}
            <a href="/">corpus.by</a>,&nbsp;<a
                href="https://ssrlab.by">ssrlab.by</a>.
        </p>
        <p class="text-muted">
            © {{ gettext('laboratory') }}, 2018&ndash;{{now.year}}
        </p>
    </div>
</footer>

</body>
</html>

