{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <form method="post">
        <div class="row mt-25">
            <div class="col-md-12">
                <div class="control-panel">
                    <div class="panel panel-default service__panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ gettext('input') }}</h3>
                        </div>
                        <div class="panel-body">
                            <p><textarea class="form-control" rows="10" name="inputText"
                                         placeholder="Enter text">{{ _input }}</textarea></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
{#                <div class="col-md-4">#}
{#                    <label for="selectorId">{{ gettext("checkboxes") }}</label>#}
{#                    <br>#}
{#                    <br>#}
{#                    <input type="checkbox" id="checkbox1" name="checkbox1" value="1"#}
{#                            {% if form_options["checkbox1"] == '1' %} checked {% endif %}>#}
{#                    <label for="checkbox1">{{ gettext('checkbox1') }}</label><br>#}
{#                    <input type="checkbox" id="checkbox2" name="checkbox2" value="2"#}
{#                            {% if form_options["checkbox2"] == '2' %}#}
{#                           checked {% endif %}>#}
{#                    <label for="checkbox2">{{ gettext('checkbox2') }}</label><br>#}
{#                    <input type="checkbox" id="checkbox3" name="checkbox3" value="3"#}
{#                            {% if form_options["checkbox3"] == '3' %} checked {% endif %}>#}
{#                    <label for="checkbox3">{{ gettext('checkbox3') }}</label><br>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                    <label for="selectorId">{{ gettext("radiobuttons") }}</label>#}
{#                    <br>#}
{#                    <br>#}
{#                    <input type="radio" name="mode" value="radiobutton1" id="radiobutton1"#}
{#                            {% if form_options["radio"] == 'radiobutton1' or not is_post %}#}
{#                           checked {% endif %}>#}
{#                    <label for="radiobutton1">{{ gettext('radiobutton1') }}</label><br>#}
{#                    <input type="radio" name="mode" value="radiobutton2" id="radiobutton2"#}
{#                            {% if form_options["radio"] == 'radiobutton2' %} checked {% endif %}>#}
{#                    <label for="radiobutton2">{{ gettext('radiobutton2') }}</label><br>#}
{#                    <input type="radio" name="mode" id="radiobutton3" value="radiobutton3"#}
{#                            {% if form_options["radio"] == 'radiobutton3' %} checked {% endif %}>#}
{#                    <label for="radiobutton3">{{ gettext('radiobutton3') }}</label><br>#}
{#                </div>#}
                <div class="col-md-4">
                    <label for="selectorId">{{ gettext("options") }}</label><br/><br/>
                    <select name='selector' id="selectorId" class="selector-primary select__option">
                        <option value='option1'
                                {% if form_options["selector"] == 'option1' %}
                                selected
                                {% endif %}
                        ><b>{{ gettext("option1") }}</b></option>
                        <option value='option2'
                                {% if form_options["selector"] == 'option2' %}
                                selected
                                {% endif %}
                        ><b>{{ gettext("option2") }}</b></option>
                        <option value='option3'
                                {% if form_options["selector"] == 'option3' %}
                                selected
                                {% endif %}
                        ><b>{{ gettext("option3") }}</b></option>
                        <option value='option4'
                                {% if form_options["selector"] == 'option4' %}
                                selected
                                {% endif %}
                        ><b>{{ gettext("option4") }}</b></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <button type="submit" class="center button-primary btn__services">{{ gettext("button") }}</button>
        </div>
    </form>

    {% if is_post %}
        <div class="row">
            <div class="col-md-12">
                <div class="control-panel">
                    <div class="panel panel-default service__panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ gettext("results") }}</h3>
                        </div>
                        <div class="panel-body">
                            <p><textarea class="form-control" rows="10" id="outputText" placeholder="Recognized text"
                                         readonly>{% if is_post %}{{ output_text }}{% endif %}</textarea></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-md-12">
        <div class="control-panel">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ gettext('service code') }}
                    <a href="static/code/corpusby_servicedemonstratorpy_2020-02-26.zip">{{ gettext('reference') }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
