<script type="text/javascript" src="static/js/ssrlabUtils.js"></script>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand link__logotipe" href="/"><img class="demonstr__logo" src="static/img/main-logo.png"></a>
            <div class="visible__title">
                <a class="mobile-title" href="/">{{ gettext('title') }}</a>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="service-name  main__title"><a href="/">{{ gettext('title') }}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="service-name"><a href="https://ssrlab.by/{{'by' if gettext('lang') == 'Беларуская' else 'en' }}/6884">?</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{ gettext('lang') }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#By" class="setLocale">Беларуская</a></li>
                        <!-- <li><a href="#Ru" class="setLocale">Русский</a></li> -->
                        <li><a href="#En" class="setLocale">English</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->

    </div>
</nav>
