.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

body > .container {
    padding: 10px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.bold {
    font-weight: bold;
}

.small {
    font-size: 80%;
}

.divider {
    width: 800px;
    height: 0px;
    margin: 30px auto;
    border-top: 1px solid #cccccc;
}

div.int-box {
    display: table-cell;
    vertical-align: middle;
}

div.col-md-12 {
    padding: 0px 0px 25px 0px;
}

div.panel {
    margin-bottom: 0px;
}
.service__panel{
    width: 95%;
    margin: 0 auto;
}
.button-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid;
    border-radius: 4px;
}

.selector-primary {
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.input-primary {
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.navbar-brand > img.demonstr__logo{
    max-width: 150px;
    margin: -7px 0 0 0;
}
.service-name {
    font-size: 16pt;
    color: #777;
}

.element-main {
    max-width: 200px;
    margin-top: -10px;
    height: 40px;
}
@media (max-width:425px){
    .btn__services{
        width: 31rem;
    }
}
@media (max-width:400px){

    .select__option{
        width: 40%;
    }

}
@media (max-width:350px){
    .btn__services{
    font-size: 12px;
    width: 27rem;
    }
}
.visible__title{
    margin: 12px 0 0 0;
}
.mobile-title{
    font-size: 20px;
    margin: 20px;
    color: #777;
}
/* Adaptive title for mobile divices */
@media(max-width:767px){
    .service-name.main__title{
        display: none;
    }
}
@media(min-width:768px){
    .mobile-title{
    display: none;
    }
}
@media(max-width:520px){
    .mobile-title{
        margin: 0;
    }
}
@media(max-width:480px){
    .visible__title{
        margin: 20px 0 0 0;
    }
    .mobile-title{
        font-size: 16px;
    }
}
@media(max-width:430px){
    .navbar-brand > img.demonstr__logo{
        max-width:135px;
    }
    .link__logotipe{
        padding: 10px 5px 10px 10px;
    }
    .visible__title{
        margin: 13px 0 0 0;
    }
}
@media(max-width:350px){
    .visible__title {
        margin: 5px 0 0 0;
    }
    .mobile-title {
        font-size: 14px;
    }
    .navbar-brand > img.demonstr__logo {
        max-width: 125px;
    }
}